[user]
  name = naoto0822
  email = n.h.in.m.h@gmail.com

[color]
  ui = auto

[ghq]
  root = ~/Documents/workspace/src

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = https://github.com/

[url "https://github.com/rust-lang/crates.io-index"]
  insteadOf = https://github.com/rust-lang/crates.io-index
