[user]
  name = naoto0822
  email = n.h.in.m.h@gmail.com

[color]
  ui = auto

[ghq]
  root = ~/Documents/workspace/src

[url "git@github.com:"]
  insteadOf = https://github.com/

[init]
	defaultBranch = main
